<div fxFlexFill fxLayoutGap="20px" fxLayout="row">
    <mat-card fxFlex="20%">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="facility">account_tree</mat-icon>
            </div>
            <mat-card-subtitle>Total Facilities</mat-card-subtitle>
            <mat-card-title>{{ facilities.length }}</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card fxFlex="20%">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="customer">person</mat-icon>
            </div>
            <mat-card-subtitle>Total Customers</mat-card-subtitle>
            <mat-card-title>{{ customers.length }}</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card fxFlex="20%">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="claim">content_copy</mat-icon>
            </div>
            <mat-card-subtitle>Total Claims</mat-card-subtitle>
            <mat-card-title>{{ rowData.length }}</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card fxFlex="20%">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="claim-amount">attach_money</mat-icon>
            </div>
            <mat-card-subtitle>Claim Amount</mat-card-subtitle>
            <mat-card-title>${{ claimAmount }}</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card fxFlex="20%">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="paid-amount">paid</mat-icon>
            </div>
            <mat-card-subtitle>Paid Amount</mat-card-subtitle>
            <mat-card-title>${{ paidAmount }}</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>