<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

        <mat-list>
            <mat-list-item class="headerOption" (click)="navOptions = 'home'">
                <mat-icon>home</mat-icon> &nbsp; Claims Home
            </mat-list-item>
            <mat-list-item class="headerOption" (click)="navOptions = 'addClaim'">
                <mat-icon>add</mat-icon> &nbsp; Add Claims
            </mat-list-item>
            <!-- <mat-list-item> Paprika </mat-list-item> -->
        </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content" *ngIf="navOptions == 'home'">
        <div fxFlexFill fxLayout="column" fxLayoutGap="20px" fxFlexFill class="dashboard">
            <div>
                <app-data-cards [rowData]="claims"></app-data-cards>
            </div>
            <div fxLayoutGap="20px" fxLayout="row">
                <mat-card fxFlex="40%">
                    <app-doughnut-chart></app-doughnut-chart>
                </mat-card>
                <mat-card fxFlex="60%">
                    <app-bar-chart></app-bar-chart>
                </mat-card>
            </div>
            <div fxFlexFill fxLayoutGap="100%">
                <mat-card>
                    <app-data-table [rows]="claims"></app-data-table>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="example-sidenav-content" *ngIf="navOptions == 'addClaim'">
        <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
          </button> -->
        <app-add-claims></app-add-claims>


    </div>
</mat-drawer-container>