.dashboard {
    background-color: rgb(247, 246, 246);
}

.example-sidenav-content {
    padding: 2%;
}

.example-sidenav {
    /* padding: 2%; */
}

.headerOption {
    /* padding-top: 10%; */
}

.headerOption:hover {
    background-color: rgb(245, 243, 243);
    border-bottom: 2px solid #0158ff;
    color: #0158ff;
}

.material-icons {
    /* font-size: 50px; */
}