<app-header [dashboard]="drawer"></app-header>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

        <mat-list>
            <mat-list-item class="headerOption" (click)="navOptions = 'home'">
                <mat-icon>home</mat-icon> &nbsp; Claims Home
            </mat-list-item>
            <mat-list-item class="headerOption" (click)="navOptions = 'addClaim'">
                <mat-icon>add</mat-icon> &nbsp; Add Claims
            </mat-list-item>
            <!-- <mat-list-item> Paprika </mat-list-item> -->
        </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content" *ngIf="navOptions == 'home'" #dashboard>
        <!-- <button mat-stroked-button color="primary" mat-button style="float: right;">
            <mat-icon>sorting</mat-icon>
            <span>Filters</span>
        </button>
        <br/> -->
        <div fxFlexFill fxLayout="column" fxLayoutGap="20px" fxFlexFill class="dashboard">
            <div>
                <app-data-cards [rowData]="claims"></app-data-cards>
            </div>
            <div fxFlexFill fxLayoutGap="20px" fxLayout="row">
                <mat-card fxFlex="50%">
                    <app-doughnut-chart [claimData]="statusData"></app-doughnut-chart>
                </mat-card>
                <mat-card fxFlex="50%" fxFlexFill fxLayout="column">
                    <div fxFlex fxLayoutAlign="end start">
                        <div class="pt-1"> Open Claims &nbsp;</div>
                        <mat-slide-toggle #slider color="primary">Closed Claims</mat-slide-toggle>
                    </div>
                    <mat-card-header>
                        <mat-card-subtitle *ngIf="!slider.checked">Top 5 Open Claims</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="slider.checked">Top 5 Closed Claims</mat-card-subtitle>

                    </mat-card-header>
                    <app-bar-chart *ngIf="!slider.checked" [claimData]="openClaims" [barchartColor]="openBarChartColor" [barSize]="openSize">
                    </app-bar-chart>

                    <app-bar-chart *ngIf="slider.checked" [claimData]="closedClaims" [barchartColor]="closedBarChartColor" [barSize]="closedSize"></app-bar-chart>

                </mat-card>
            </div>
            <div fxFlexFill fxLayoutGap="100%">
                <mat-card>
                    <app-data-table [rows]="claims" (newItemEvent)="selectedData($event)" [showActions]="true">
                    </app-data-table>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="example-sidenav-content" *ngIf="navOptions == 'addClaim'">
        <app-add-claims [selectedDataItems]="selectedDataItems"></app-add-claims>


    </div>
</mat-drawer-container>