<h3 class="header">Claim Details for AMC Claim : {{data.amcClaim}}</h3>
<mat-dialog-content class="mat-typography custom-dialog-container" fxLayoutGap="20px" fxLayout="column">
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Account : {{data.account}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">AmcClaim : {{data.amcClaim}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Category : {{data.category}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Type
            : {{data.claimType}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Amount : {{data.claimedAmount}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Date
            : {{data.date}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">MasterAcct : {{data.masterAcct}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Paid
            Amount : {{data.paidAmount}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Status : {{data.status}}</span></mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span class="pr-4 pb-3">
        <button mat-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>Cancel
        </button>
    </span>
</mat-dialog-actions>