<h3>Claim Details for AMC</h3>
<mat-list>
    <mat-list-item>
        <span matListItemTitle>Claim Details for AMC</span>
    </mat-list-item>
    <mat-list-item>Created Date: {{ date }}</mat-list-item>
</mat-list>

<h3>Two line lists</h3>
<mat-list>
    <mat-list-item>
        <span matListItemTitle>Title</span>
        <span matListItemLine>Second line</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Title</span>
        <span>Second line</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Title</span> Second line
    </mat-list-item>
</mat-list>

<h3>Three line lists</h3>
<mat-list>
    <mat-list-item>
        <span matListItemTitle>Title</span>
        <span matListItemLine>Second line</span>
        <span matListItemLine>Third line</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Title</span>
        <span matListItemLine>Second line. This line will truncate.</span>
        <span>Third line</span>
    </mat-list-item>
    <mat-list-item>
        <span matListItemTitle>Title</span>
        <span matListItemLine>Second line. This line will truncate.</span> Third line
    </mat-list-item>
</mat-list>

<h3>Three line list with secondary text wrapping</h3>
<mat-list class="example-list-wrapping">
    <mat-list-item lines="3">
        <span matListItemTitle>Title</span>
        <span>Secondary line that will wrap because the list lines is explicitly set to 3 lines. Text
      inside of a `matListItemTitle` or `matListItemLine` will never wrap.
    </span>
    </mat-list-item>
    <mat-list-item lines="3">
        <span matListItemTitle>Title</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    </mat-list-item>
</mat-list>


<!-- 
<h3 class="header">Claim Details for AMC Claim : {{data.amcClaim}}</h3>
<mat-dialog-content class="mat-typography custom-dialog-container" fxLayoutGap="20px" fxLayout="column">
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Account : {{data.account}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">AmcClaim : {{data.amcClaim}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Category : {{data.category}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Type
            : {{data.claimType}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Amount : {{data.claimedAmount}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Date
            : {{data.date}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">MasterAcct : {{data.masterAcct}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Paid
            Amount : {{data.paidAmount}}</span></mat-card>
    <mat-card class="mat-list-data" fxLayoutGap="10px" fxLayout="row"><span class="pl-2 pr-4">
            <mat-icon>account_balance_wallet</mat-icon>
        </span><span class="modal-info">Status : {{data.status}}</span></mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span class="pr-4 pb-3">
        <button mat-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>Cancel
        </button>
    </span>
</mat-dialog-actions> -->