<mat-card-header class="absolute-center text-center">
    <mat-card-subtitle>Claims Details</mat-card-subtitle>
</mat-card-header>
<div *ngIf="rows.length > 0" fxFlexFill fxLayout="column">
    <div fxFlex fxLayoutAlign="end start" fxLayoutGap="20px">
        <div>
            <button mat-stroked-button color="primary" mat-button (click)="onExportToExcel()">
                <mat-icon>upload_file</mat-icon>
                <span>Export to Excel</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="primary" mat-button [matMenuTriggerFor]="menu"> <mat-icon>check_box</mat-icon>Display Fields</button>
            <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
                <li mat-menu-item *ngFor="let item of columns" class="li-column-list"
                    (click)="$event.stopPropagation()">
                    <mat-checkbox [checked]="item.show" (change)="togglecolumnCheckbox(item)" color="primary">
                        {{item.name}} </mat-checkbox>
                </li>
            </mat-menu>
        </div>
    </div>
    <div id="print-section">
        <ngx-datatable class="material expandable" [scrollbarH]="true" [rows]="rows" [columns]="selectedColumns"
            id="claims-table" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="40"
            [rowHeight]="rowHeight" [limit]="10" class="material expandable">
            <ngx-datatable-column *ngFor="let col of filteredColumns" [name]="col.name" [prop]="col.props">
            </ngx-datatable-column>
            <ngx-datatable-column [frozenRight]="true" name="Actions" [resizeable]="false" [sortable]="false"
                [draggable]="false" [canAutoResize]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                        <mat-icon color="primary">checklist</mat-icon> Actions
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog(row)">
                            <mat-icon>feed</mat-icon>
                            <span>More Information</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit Information</span>
                        </button>
                    </mat-menu>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>