<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="login">
        <mat-card>
            <div class="login-header">
                <h2>Claims Login</h2>
            </div>
            <mat-card-content fxLayout="column wrap">
                <form [formGroup]="loginForm">
                    <mat-form-field appearance="outline" fxFlexFill color="primary">
                        <mat-label>Username</mat-label>
                        <input matInput required formControlName="username">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlexFill color="primary" required>
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-error *ngIf="!loginFlag">Wrong Username or Password!!</mat-error>
            <mat-card-actions fxLayoutAlign="end start">
                <button mat-button color="primary" (click)="userLogin()" type="button"
                    [disabled]="!(loginForm.valid && loginForm.dirty)">Login</button>
                <button mat-flat-button (click)="onFormReset()">Reset</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>