<mat-dialog-content class="mat-typography">
    <mat-card style="width: 1000px;">
        <mat-card-header style="background-color: #ffc235;border-radius:4px;">
            <mat-card-title style="
        margin-top: 10%;
    ">Order Details</mat-card-title>
            <mat-card-subtitle>Logged In as Admin</mat-card-subtitle>
        </mat-card-header>
        <br/>
        <mat-card>
            <mat-card-header style="background-color: #ff9021;border-radius:4px;">
                <mat-card-title style="
            margin-top: 5%;
        "><span [ngClass]="firstFormGroup.touched && firstFormGroup.status == 'INVALID' ? 'errorField' : ''" matTooltip="Claim Details for AMC Claim ID:9961">Claim Details for AMC Claim ID:9961</span></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="firstFormGroup">
                    <!-- <ng-template matStepLabel></ng-template> -->
                    <mat-form-field>
                        <mat-label>Created Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="createdDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Closed Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="closedDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <br/>

                    <mat-form-field appearance="fill">
                        <mat-label>Facility</mat-label>
                        <select matNativeControl formControlName="facility" placeholder="Facility" required>
                <option *ngFor="let item of facilityList" value={{item}}>{{item}}</option>
                <!-- <option value="Transportation">Transportation</option> -->
              </select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Customer</mat-label>
                        <!-- <input matInput placeholder="Customer" formControlName="customer" required> -->
                        <select matNativeControl formControlName="customer" placeholder="Customer" required>
                <option *ngFor="let item of customerList" value={{item}}>{{item}}</option>
              </select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Customer Claim#</mat-label>
                        <input matInput placeholder="Customer Claim#" type="number" formControlName="customerClaim" [disabled]="true">
                    </mat-form-field>
                    <br/>

                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>WMS Account</mat-label>
                        <input matInput placeholder="WMS Account" formControlName="wmsAccount" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>Claim Type</mat-label>
                        <select matNativeControl formControlName="claimType" placeholder="Claim Type" required>
                <option value="Warehouse">Warehouse</option>
                <option value="Transportation">Transportation</option>
              </select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>Claim Category</mat-label>
                        <select matNativeControl placeholder="Claim Category" formControlName="claimCategory" required>
                <option value="Damage">Damage</option>
                <option value="Shortage">Shortage</option>
                <option value="Detention">Detention</option>
                <option value="Freight">Freight</option>
                <option value="Demurrage – EUF">Demurrage – EUF</option>
                <option value="Freight Cost">Freight Cost</option>
                <option value="Inventory Adjustment">Inventory Adjustment
                </option>
              </select>
                    </mat-form-field>
                    <br/>

                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>Status</mat-label>
                        <select matNativeControl placeholder="Status" formControlName="status" required>
                <option value="Approved">Approved</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Closed">Closed</option>
                <option value="Closed - Denied">Closed - Denied</option>
                <option value="In Progress">In Progress</option>
                <option value="Invoice Queued">Invoice Queued</option>
                <option value="Open">Open</option>
                <option value="Paid">Paid</option>
                <option value="Pending Addtl. Info">Pending Addtl. Info</option>
                <option value="Pending Approval">Pending Approval</option>
                <option value="WaRejectedrehouse">Rejected</option>
              </select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>Priority Flag</mat-label>
                        <select matNativeControl placeholder="Priority Flag" formControlName="priorityFlag" required>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>Commodity Type</mat-label>
                        <select matNativeControl placeholder="Commodity Type" formControlName="commonType" required>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
                    </mat-form-field>
                    <br/>

                    <mat-form-field appearance="fill" *ngIf="userMode == 'admin'">
                        <mat-label>Issue Type</mat-label>
                        <select matNativeControl placeholder="Issue Type" formControlName="issueType" required>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <!-- <mat-card-actions align="end">
            <button mat-button>Save</button>
        </mat-card-actions> -->
        </mat-card>
        <div>

        </div>
        <br/>
        <mat-card>
            <mat-card-header style="background-color: #338383;border-radius:4px;">
                <mat-card-title style="
          margin-top: 10%;
      "><span [ngClass]="contactInformation.touched && contactInformation.status == 'INVALID' ? 'errorField' : ''" matTooltip="Contact Information">Contact Information</span></mat-card-title>
            </mat-card-header>
            <form [formGroup]="contactInformation">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput type="number" placeholder="Phone" formControlName="phone" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
                </mat-form-field>
            </form>
        </mat-card>
        <br/>
        <mat-card>
            <mat-card-header style="background-color: rgb(255 100 131);border-radius:4px;">
                <mat-card-title style="
          margin-top: 10%;
      ">Cost Details</mat-card-title>
            </mat-card-header>
            <form [formGroup]="costDetails" fxFlexFill fxLayout="row" fxLayoutGap="10%">
                <mat-form-field appearance="fill">
                    <mat-label>Amount Basis</mat-label>
                    <!-- <input matInput placeholder="Name" formControlName="amountBasis" required> -->
                    <select matNativeControl placeholder="Amount Basis" formControlName="amountBasis" required>
                    <option value="Product">Product</option>
                    <option value="Shipping">Shipping</option>
                  </select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Claimed Amount</mat-label>
                    <input matInput type="number" placeholder="cost" formControlName="cost" [disabled]="true" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <select matNativeControl placeholder="currency" formControlName="currency" required>
                    <option value="USD">USD</option>
                    <option value="EURO">EURO</option>
                  </select>
                </mat-form-field>
            </form>

            <div *ngIf="ordersList.length > 0">
                <ngx-datatable class="material" [scrollbarH]="true" [rows]="ordersList" [columnMode]="ColumnMode.force" [selectionType]="SelectionType.checkbox" [headerHeight]="40" [footerHeight]="40" [rowHeight]="40" [limit]="10">
                    <ngx-datatable-column *ngFor="let col of filteredColumns" [name]="col.name" [prop]="col.props" [width]="col.width">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Claim QTY" [width]="90">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Claim QTY" type="number" value="0" (change)="addQuantity($event,row)" />
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Category">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <select matNativeControl placeholder="currency" required>
                            <option value="Overage">Overage</option>
                            <!-- <option value="EURO">EURO</option> -->
                          </select>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Unit Cost">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            ${{5}}
                            <!-- <option value="EURO">EURO</option> -->
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="UOM">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <select matNativeControl placeholder="currency" required>
                            <option value="LB">LB</option>
                            <option value="KG">KG</option>
                            <!-- <option value="EURO">EURO</option> -->
                          </select>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            ${{claimAmount[row.item] ? claimAmount[row.item] : 0}}
                            <!-- <option value="EURO">EURO</option> -->
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="EST.Unit Cost">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            ${{0.50}}
                            <!-- <option value="EURO">EURO</option> -->
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="EST Total Cost" [frozenRight]="true" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            ${{claimAmount[row.item] ? claimAmount[row.item] : 0}}
                            <!-- <option value="EURO">EURO</option> -->
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </mat-card>
        <br/>

        <mat-card>
            <mat-card-header style="background-color: #36a2eb;border-radius:4px;">
                <mat-card-title style="
          margin-top: 10%;
      "><span [ngClass]="contactInformation.touched && contactInformation.status == 'INVALID' ? 'errorField' : ''" matTooltip="Contact Information">Payment Information</span></mat-card-title>
            </mat-card-header>
            <form [formGroup]="paymentInformation">
                <mat-form-field appearance="fill">
                    <mat-label>Currency Type</mat-label>
                    <input matInput formControlName="currencyType" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Claimed Amount</mat-label>
                    <input matInput formControlName="claimedAmount" [value]="costDetails.value.cost" [disabled]="true">
                    <!-- {{costDetails.value.cost}} -->
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Invoice Amount</mat-label>
                    <input matInput formControlName="invoiceAmount" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Accural Amount</mat-label>
                    <input matInput formControlName="accuralAmount" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>GL Code</mat-label>
                    <input matInput formControlName="glCode" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cost Center</mat-label>
                    <input matInput formControlName="costCenter" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Invoice Number</mat-label>
                    <input matInput formControlName="invoiceNumber" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Payment Date</mat-label>
                    <input matInput formControlName="paymentDate" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Payment Reference</mat-label>
                    <input matInput formControlName="paymentReference" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Paid Amount</mat-label>
                    <input matInput formControlName="paidAmount" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>AP Vendor</mat-label>
                    <input matInput formControlName="apVendor" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>

            </form>
        </mat-card>
        <mat-card>
            <mat-card-header style="background-color: #ff6483;border-radius:4px;">
                <mat-card-title style="
          margin-top: 10%;
      "><span [ngClass]="additionalInfo.touched && additionalInfo.status == 'INVALID' ? 'errorField' : ''" matTooltip="Additional Information">Additional Information</span></mat-card-title>
            </mat-card-header>
            <form [formGroup]="additionalInfo">
                <mat-label>Please Provide detailed notes and attach all relevant backup documentation, This information is required for submittal.</mat-label><br/>
                <mat-form-field appearance="fill">
                    <mat-label>Customer Notes</mat-label>
                    <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                    <mat-label>Open File</mat-label>
                    <!-- <button >Open file</button> -->

                    <input matInput mat-raised-button formControlName="document">
                </mat-form-field>

            </form>
        </mat-card>

        <mat-card-actions>
            <button mat-button>Save</button>
            <button mat-button>Submit</button>
        </mat-card-actions>
    </mat-card>
</mat-dialog-content>