.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 2% 10% 0 0;
}

.mat-dialog-container {
    padding: 0px !important;
}

.datatable-body-row.active {
    background-color: transparent !important;
}