<mat-card-header class="absolute-center text-center">
    <mat-card-subtitle>Claims Breakdown by Amount</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
    <div style="display: block" *ngIf="doughnutChartData" class="relative">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            [options]="doughnutOptions" [colors]="doughnutChartColor"></canvas>
        <div class="absolute-center text-center pb-2">
                   Total Claims: 10,000
                    
                    </div>
    </div>
</mat-card-content>
<!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
</mat-card-actions> -->